# Kalshi Private Keys
*.pem
kalshi_private_key*.pem
infra/kalshi_deploy_key*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

*.db
.env
*.pem
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
